
{% extends 'core/base.html' %}
{% block content %}
    {% load static %}
    <!--Begin content wrapper-->
    <div class="content-wrapper" style="margin-top: 40px;">
        <div class="container">
            <div class="alumni-directory">
               <div class="top-section">
                   <div class="row">
                       <div class="title-page text-left col-md-6 col-sm-12 col-xs-12">
                           <h4 class="text-regular" style="font-size: 40px;margin-top: 40px;">Courses and Departments</h4>
                       </div>
                       <!-- <div class="search-alumni-directory text-right col-md-6 col-sm-12 col-xs-12">
                           <form class="navbar-form no-margin no-padding">
                               <input type="text" name="q" class="form-control input-search" placeholder="Keywords (e.g. name, city, school...)" autocomplete="off">
                               <button type="submit" class=" bg-color-theme text-center text-regular">Search</button>
                           </form>
                       </div> -->
                   </div>
               </div>
               <div class="alumni-directory-content">
               
                <h4 class="text-regular">Department of accounting & management</h4>
                <div class="list">
                 <h4 class="text-regular">Accounting options</h4>
                 <li><a href="."></a>financial accounting</a></li>
                 <li><a href="."></a>International accounting</a></li>
                 <li><a href="."></a>Auditing & assurance</a></li>
                 <li><a href="."></a>Oil and gas accounting</a></li>
                 <li><a href="."></a>Forensic accounting</a></li>
                 <li><a href="."></a>Public sector accounting</a></li>
                 <li><a href="."></a>Financial management</a></li>
                    
                 <h4 class="text-regular">Management options</h4>
                 <div class="list">
                 <li><a href="."></a>Human resource management</a></li>
                 <li><a href="."></a>Marketing management </a></li>
                 <li><a href="."></a>Project management</a></li>
                 <li><a href="."></a>International business & management</a></li>
                 <li><a href="."></a>Production/operations management</a></li>
                 <li><a href="."></a>Transport & logistics management</a></li>
                 <li><a href="."></a>Public sector management & administration</a></li>

                <h4 class="text-regular">Department of politics and international relation</h4>
                <div class="list">
                <li><a href="."></a>International politics</a></li>
                <li><a href="."></a>International relations</a></li>
                <li><a href="."></a>Policy & strategic studies</a></li>
                <li><a href="."></a>Conflict resolution & security studies</a></li>
                <li><a href="."></a>Immigration & asylum  studies</a></li>
                <li><a href="."></a>Economics & development studies</a></li>
                <li><a href=".">African union & integration studies</a></li>

                <h4 class="text-regular">Department of media and communication studies</h4>
                <div class="list">
                <li><a href=".">Enterprise communication</a></li>
                <li><a href=".">Public relations</a></li>
                <li><a href=".">Marketing communication</a></li>
                <li><a href=".">Digital communication</a></li>
                <li><a href=".">Digital communication</a></li>
                <li><a href=".">Broadcasting</a></li>
                <li><a href=".">Journalism</a></li>
                <li><a href=".">Media studies</a></li>

                <h4 class="text-regular">Department of industrial computing</h4>
                <div class="list">
                <li><a href=".">Enterprise computing</a></li>
                <li><a href=".">Computer-electronics</a></li>
                <li><a href=".">Network & system security</a></li>
                <li><a href=".">Software engineering</a></li>
                <li><a href=".">System engineering</a></li>
                <li><a href=".">Mechanics (robotics and artificial intelligence)</a></li>
                </div>
                <!-- <div class="pagination-wrapper text-center">
                    <ul class="pagination">
                        <li class="prev"><a href="alumni-directory.html#">Previous</a></li>
                        <li><a href="alumni-directory.html#">1</a></li>
                        <li><a href="alumni-directory.html#">2</a></li>
                        <li class="current"><span>3</span></li>
                        <li><a href="alumni-directory.html#">4</a></li>
                        <li><a href="alumni-directory.html#">5</a></li>
                        <li class="next"><a href="alumni-directory.html#">Next</a></li>
                    </ul>
                </div> -->
                <div class="login-dashboard">
                  
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12 animated footer-col">
                    <div class="links-social">
                        <div class="login-dashboard">
                            <a href="{% static 'core/aub_files/74.jpg' %}" class="bg-color-theme text-center text-regular">Download a Copy!</a>
                        </div>
                      
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <style>
        li{
            margin-bottom: 10px;
            color: rgb(5, 36, 93);
        }
        .text-regular{
            margin-bottom: 15px;
        }
    </style>
    <!--End content wrapper-->
    {% endblock content %}