{% extends 'core/base.html' %}
{% block content %}
    {% load static %}
    {% block title %}
    Tuition info | African University of Benin
    {% endblock title%}
 <div class="content">
    
    <div class="container" style="margin-top: 20vh;">
      <h2 class="mb-25" style="margin-bottom: 25px;">School Fees
       <small>Financials</small></h2>
       <p>2022/2023 academic session</p>

      <div class="table-responsive">

        <table class="table custom-table">
          <thead>
            <tr style="background-color: rgb(255, 214, 80);">
              
              <th scope="col">S/N</th>		
              <th scope="col">Decription</th>
              <th scope="col">Amount (CFA)</th>
              <th scope="col">Amount (₦)</th>
            </tr>
          </thead>
          <tbody>
            <tr scope="row">

              
                      
                      <td>
                        1
                      </td>
                      <td>registration fee</td>
                     
                      <td>--/--</td>
                      <td> ₦20,000</td>
            
            </tr>

            <tr>
              
              <td>2</td>
              <td>Examination fee</td>
              <td>--/--</td>
              <td> ₦10,000</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Library Fee</td>
           
              <td>--/--</td>
              <td>₦10.000</td>
            </tr>
            <tr>
              
              <td>4</td>
              <td>Seminar Fee</td>
             
              <td>--/--</td>
              <td>₦10,000</td>
            </tr>
            <tr>
              
              <td>5</td>
              <td>Utilities fee</td>
              <td>--/--</td>
              <td>₦20,000</td>
            </tr>
            <tr>
              
              <td>6</td>
              <td>Administrative Charges</td>
            
              <td>--/--</td>
              <td>₦30,000</td>
            </tr> <tr>
              
              <td>7</td>
              <td>Departmental fees</td>
         
              <td>--/--</td>
              <td>₦ 5000</td>
            </tr>
            <tr>
              
              <td>8</td>
              <td>Development Fee</td>
            
              <td>--/--</td>
              <td>₦35,000</td>
            </tr>
            <tr>
              
              <td>9</td>
              <td>Faculty Fee</td>
            
              <td>--/--</td>
              <td>₦35,000</td>
            </tr>
            <tr>
              
              <td>10</td>
              <td>Research Fee</td>
            
              <td>--/--</td>
              <td>₦5,000</td>
            </tr>
            <tr>
              
              <td>11</td>
              <td style="color: crimson;">School Vest</td>
            
              <td>--/--</td>
              <td>₦5,000</td>
            </tr>
            <tr>
              
              <td>12</td>
              <td style="color: rgb(2, 0, 143); font-weight: 500;">Tuition</td>
            
              <td>--/--</td>
              <td style="color: rgb(0, 185, 31);">100% Free</td>
            </tr>
            <tr>
              
              <td></td>
              <td style="color: rgb(47, 47, 47); font-weight: 900;">Total</td>
            
              <td>--/--</td>
              <td style="color: rgb(37, 37, 37);">₦300,000</td>
            </tr>
          </tbody>
        </table>
        </div>
        Payment Modalities-, full payment of non_hostel charges or a minimum of 60% first installment on registration and the balance of 40% at the beginning of second semester. Students interested in the school hostel are expected to make full payment in not less than two weeks before resumption ( any student that fails to meet this payment condition  shall not be given a place in the hostel)
 
      <br>  <p style="color: rgb(189, 154, 0);">All payments should be made to the school account as cash payment is no longer acceptable.</p>

    </div>

  </div>
{% endblock %}