
{% extends 'core/base.html' %}
{% block content %}
    {% load static %}

        <!--begin event calendar-->
        <div class="event-calendar">
            <div class="container">
                <div class="top-section text-center">
                    <h4>All Alumni Events</h4>
                </div>
                <!-- you set visibility to hidden -->
                <div class="event-month" style="visibility: hidden;">
                    <ul class="columns1 text-center">
                        <li class="event-item">
                            <span class="text-light year">2016</span>
                            <span class="text-light month">January</span>
                        </li>
                        <li class="event-item">
                            <span class="text-light year">2016</span>
                            <span class="text-light month">February</span>
                        </li>
                        <li class="event-item">
                            <span class="text-light year">2016</span>
                            <span class="text-light month">March</span>
                        </li>
                        <li class="event-item">
                            <span class="text-light year">2016</span>
                            <span class="text-light month">April</span>
                        </li>
                    </ul>
                </div>
          
                <div class="event-list-content">
                    <div class="event-list-content">
                        {% for event in data %}
                        <div class="event-list-item">
                            <div class="date-item">
                                <span class="day text-bold color-theme">{{event.start_date|date:"n"}}</span>
                                <span class="dates text-gray text-uppercase">{{event.start_date|date:"D"}}</span>
                            </div>
                            <div class="date-desc-wrapper">
                                <div class="date-desc">
                                    <div class="date-title"><h4 class="heading-regular"><a href="programs-events.html#">{{event.title}}</a></h4></div>
                                    <div class="date-excerpt">
                                        <p>{{event.article}}</p>
                                    </div>
                                    <div class="place">
                                        <span class="icon map-icon"></span>
                                        <span class="text-place">{{event.event_location}} </span>
                                        
                                    </div>
                                    <div class="place">
                                        <span class="icon clock-icon"></span>
                                        <i class="fa clock-icon" style="margin-left: 15px;">start date:</i>
                                        <span class="text-place">{{event.start_date}}</span>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="date-links sold-out text-center" style="visibility: hidden;">
                                <a href="programs-events.html#" class="text-regular">_</a>
                            </div>

                        </div>
                        {% endfor %}
                        <!-- <div class="event-list-item">
                            <div class="date-item">
                                <span class="day text-bold color-theme">08</span>
                                <span class="dates text-gray text-uppercase">SUN</span>
                            </div> -->
                            <!-- <div class="date-desc-wrapper">
                                <div class="date-desc">
                                    <div class="date-title"><h4 class="heading-regular"><a href="programs-events.html#">Weekend at Sayidan Sierra Camp</a></h4></div>
                                    <div class="date-excerpt">
                                         <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velitesse molestie consequat, vel illum dolore eu feugiat. nulla facilisis at vero eros et accumsan. molestie consequat, vel illum dolore eu.</p>
                                    </div>
                                    <div class="place">
                                        <span class="icon map-icon"></span>
                                        <span class="text-place">Gondomanan Street 209, California </span>
                                        <a href="programs-events.html#"> View Map</a>
                                    </div>
                                </div>
                            </div>
                            <div class="date-links register text-center">
                                <a href="programs-events.html#" class="text-regular">REGISTER</a>
                                <span class="limit">Limited! 1 seat left</span>
                            </div>
                        </div> -->
                        <!-- <div class="date-links register text-center">
                            <a href="programs-events.html#" class="text-regular">REGISTER</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!--end event calendar-->

        <!--begin newsletter-->
        <div class="newsletter newsletter-parallax">
            <div class="container">
                <div class="newsletter-wrapper text-center">
                    <div class="newsletter-title">
                        <h2 class="heading-light">Keep Up and Join Our Newsletter</h2>
                        <p class="text-white">Duis autem vel eum iriure dolor in hendrerit in vulputate.</p>
                    </div>
                    <form name="subscribe-form" target="_blank" class="form-inline">
                        <input type="text" class="form-control text-center form-text-light" name="EMAIL" value="" placeholder="E-mail Address" >
                        <button type="submit" class="button bnt-theme">subscribe</button>
                    </form>
                </div>
            </div>
        </div>
        <!--end newsletter-->

    </div>
    <!--End content wrapper-->
    {% endblock content %}