

{% extends 'core/base.html' %}
{% block content %}
    {% load static %}
    <!--Begin content wrapper-->
    <div class="content-wrapper" style="margin-top: 40px;">
        <div class="account-page register text-center">
            <div class="container">
                <div class="account-title">
                    <h4 class="heading-light">LOG IN INTO ALUMNI DASHBOARD</h4>
                </div>
                <div class="account-content">
                    <form action="register-page.html#">
                        <div class="input-box fullname">
                            <input type="text" placeholder="Full Name">
                        </div>
                        <div class="input-box number">
                            <input type="text" placeholder="College Number">
                        </div>
                        <div class="input-box email">
                            <input type="text" placeholder="Email Address">
                        </div>
                        <div class="input-box password">
                            <input type="text" placeholder="Password">
                        </div>
                        <div class="input-box very-password">
                            <input type="text" placeholder="Verify Password">
                        </div>

                        <div class="buttons-set">
                            <a href="register-page.html#"  title="REGISTER" class="bnt bnt-theme text-regular text-uppercase">Apply</a><span> <a href="register-page.html#"  title="REGISTER" class="bnt bnt-theme text-regular text-uppercase">Scholarship Form</a></span>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--End content wrapper-->
    {% endblock content %}