
{% extends 'core/base.html' %}
{% block content %}
    {% load static %}

    <!--Begin content wrapper-->
    <div class="content-wrapper">
        <div class="story-single">
            <div class="cover-img">
                <div class="area-img">
                    <img class="img-responsive" src="images/bg-story-single.jpg" alt="">
                </div>
                <div class="area-title">
                    <div class="container">
                        <h2 class="heading-light">Hannah Jordan</h2>
                        <h1 class="heading-regular">In Mind And Heart, Never Far From Home</h1>
                    </div>
                </div>
            </div>
            <div class="story-content">
                <div class="container">
                    <div class="desc">
                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. </p>
                        <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                    </div>
                    <div class="desc-center">
                        <p>“You never accomplish anything alone, I was feeling the absence of the people who were most influential in getting me to this point.  wished they could be here too. ” </p>
                    </div>
                    <div class="desc">
                        <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                    </div>
                    <div class="desc-border text-center">
                        <h4 class="heading-bold">FUN FACTS</h4>
                        <p>Hannah Jordan born in Yogyakarta, Indonesia 29 April 1990.
                            Her favorite book is Harry Potter!</p>
                    </div>
                    <div class="desc">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. </p>
                        <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                    </div>
                    <div class="post-by">
                        <p class="text-gray">Posted By <span class="text-regular">Admin</span>, April 16, 2016</p>
                    </div>
                </div>
            </div>
            <div class="share">
                <div class="container">
                    <div class="box-share">
                        <h4>SHARE THIS STORY</h4>
                        <ul>
                            <li class="facebook"><a href="story-single.html#"><span class="hidden">facebook</span></a></li>
                            <li class="twitter"><a href="story-single.html#"><span class="hidden">twitter</span></a></li>
                            <li class="google"><a href="story-single.html#"><span class="hidden">google</span></a></li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="orther-story hidden-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-xs-6">
                            <div class="box-content box-left">
                                <a href="story-single.html#" class="text-left">
                                    <span class="story-text text-white">Previous Story</span>
                                    <h4 class="story-title text-regular">Michelle Jensen : A Stronger Sense of Belonging</h4>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <div class="box-content box-right">
                                <a href="story-single.html#" class="text-right">
                                    <span class="story-text text-white">Next Story</span>
                                    <h4 class="story-title text-regular">Beverly Tin : Sharing Her Creative Gifts</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--comments-->
            <div class="comments">
                <div class="container">
                    <div class="box-comments">
                        <span class="note-comments text-regular">2 Comments Found</span>
                        <ul class="list-comments">
                            <li>
                                <span class="user-avatar"><img src="images/avatar-user1.png" alt=""></span>
                                <div class="user-comments">
                                    <h4 class="heading-regular"> Albert Carroll</h4>
                                    <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram. Qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram.</p>
                                    <a href="story-single.html#" class="reply">reply</a>
                                </div>
                            </li>
                            <li>
                                <span class="user-avatar"><img src="images/avatar-user2.png" alt=""></span>
                                <div class="user-comments">
                                    <h4 class="heading-regular"> Sandra Porter</h4>
                                    <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram. Qui sequitur.</p>
                                    <a href="story-single.html#" class="reply">reply</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--write comments-->
            <div class="write-comments">
                <div class="container">
                    <div class="box-comments">
                        <div class="title-write">
                            <h4 class="heading-regular">Write Comment</h4>
                        </div>
                        <form action="story-single.html#">
                            <div class="input-box your-comment">
                                <textarea placeholder="Your Comment" cols="1" rows="1"></textarea>
                            </div>
                            <div class="input-box email">
                                <input type="text" placeholder="Email Address">
                            </div>
                            <div class="input-box password">
                                <input type="text" placeholder="Password">
                            </div>
                            <div class="buttons-set">
                                <a href="story-single.html#"  title="Log In" class="bnt bnt-theme text-regular text-uppercase">POST COMMENT</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock content %}
    <!--End content wrapper-->
  